/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


  :root {


    /* color */
    --clr-white: #ffff;
    --clr-light: #e6e4dd;

    --clr-light-yellow: #f8f4e7;
    
    --clr-dark-blue: #3f3e68;
    --clr-light-blue: #a7a6c3;

    --clr-red: #dc3545;
    --clr-red-light: #db949c;
    --clr-warning: #ffc107;

    --clr-warning-light: hsl(46, 75%, 78%);

    --clr-green: #198754;

  }

body {
  font-family: 'Poppins', sans-serif;
  color: var(--clr-dark-blue);
  background-color: var(--clr-light);
}



.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
  
  
  border-radius: 35px;
  background-color: var(--clr-light-yellow);
  padding: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--clr-white);
  border-radius: 15px;
  height: 700px;
  padding: 0 1.5rem;
  width: 500px;
}

.error-box {
  display: inline-block;
  width: 80%;
  text-align: right;
}

.form-heading {
  font-weight: 900;
  font-size: 32px;
}
 

.form-body {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    border: none;
    

}

.form-body label {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    
}

.form-input {
  padding: 1em 0;
  width: 100%;
  
  outline: 3px solid var(--clr-dark-blue);
  outline-offset: -3px;
  border-radius: 5px;
  margin-bottom: 2em;

  
}

#user-id {
  background-color: var(--clr-white);
}
#user-password {
  background-color: var(--clr-white);
}

input::-webkit-input-placeholder {
  color: var(--clr-dark-blue);
  margin-left: 1.5em;
  font-weight: 300;
}

input::-moz-placeholder {
  color: var(--clr-dark-blue);
  margin-left: 1.5em;
  font-weight: 300;
}

input:-ms-input-placeholder {
  color: var(--clr-dark-blue);
  margin-left: 1.5em;
  font-weight: 300;
}

input::-ms-input-placeholder {
  color: var(--clr-dark-blue);
  margin-left: 1.5em;
  font-weight: 300;
}

input::placeholder {
  color: var(--clr-dark-blue);
  margin-left: 1.5em;
  font-weight: 300;
}

.btn {
  all: unset;
  color: var(--clr-white);
  padding: 1em 1.5em;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 1em;
}

.btn-submit {
  margin-top: 4em;
  background-color: var(--clr-dark-blue);

  
}

.btn-cancel {
  
  background-color: var(--clr-red);
}