*,
*::before,
*::after {

    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

main {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1,
span {

    font-size: 60px;
}

.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

.count {
    margin-top: 20px;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.btn {

    padding: 10px 30px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: white;
    color: black;
   
    transition-duration: 0.4s;
}

.btn-incr {
    border: 2px solid #4CAF50;
}
.btn-incr:hover {
    background-color: #4CAF50; 
    color: white;
}
.btn-dec {

   border: 2px solid red; 
}
.btn-dec:hover {
    background-color: red;
    color: white;
}

.btn-reset {
    border: 2px solid #008CBA;
}
.btn-reset:hover {
    background-color: #008CBA;
    color: white;
}



.btn:nth-child(2) {
    
    margin-inline: 20px;
}

