/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* RESET END */


.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  position: relative;
  background-color: #FEDD9E;
  display: flex;
  flex-direction: column;
  padding: 2em;
  border-radius: 0.2rem;
  
  
}

.section::before {
  position: absolute;
  content: "Enter only Binary Code";
  color: red;
  top: 12%;
  right: 20%;
  font-size: 16px;
}
.output {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2em;
  width: 100%;
  background-color: #FFF1D4;
  margin-top: 1em;
}

.binary,
.decimal {
  background-color: #ffff;
  margin: 2em 0;
  text-align: center;
  width: 100%;
  padding: 1em 0;
  border-radius: 0.2rem;
  color: #141414;
}

span {

  
  font-size: 30px;
  font-weight: 900;
}


input,
label,
button {
  display: block;
}
.btn-container {
  display: flex;
  flex-direction: column;
  
  
}
.btn {
  width: 100%;
  background: none;
  border: none;
  background-color: #FFBC57;
  margin-top: 2em;
  padding: 0.5em;
  border-radius: 0.4rem;
  font-size: 19px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #141414;
  font-weight: 800;

}

.btn:hover {
  background-color: #FFF1D4;
}

label {
  margin-top: 1em;
  font-size: 18px;
}

.input {
  margin-top: 1em;
  padding: 0.7em;
  border: none;
  border-radius: 10px;
}



.input::-webkit-input-placeholder {
  color: #CC800E;
}



.input::-moz-placeholder {
  color: #CC800E;
}



.input:-ms-input-placeholder {
  color: #CC800E;
}



.input::-ms-input-placeholder {
  color: #CC800E;
}



.input::placeholder {
  color: #CC800E;
}




